.cover__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 32px;   
}

@media screen and (max-width: 706px){
 

    .cover__subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
    }
} 

@media screen and (max-width: 320px) {

    .cover__subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 14px;
    }
}