.header{
    display: flex;
    max-width: 270px;
    padding-bottom: 90px;
    padding-top: 34px;
    margin: auto;
   }

   @media screen and (max-width: 320px) {
.header{
    max-width: 200px;
    padding: 34px 0 55px 0;
    }  
   }