.cover__container{
    position: absolute;
    margin-bottom: 32px;
    text-align: center;
}

.cover__container:hover .cover__image {
    background: greenyellow;
}
@media screen and (max-width: 320px) {

    .cover__container{
        margin: 0;   
    }
}