.cover__container{
    position: absolute;
    margin-bottom: 32px;
    text-align: center;
    cursor: pointer;
}


@media screen and (max-width: 320px) {

    .cover__container{
        margin: 0;   
    }
}