.cover{
    max-width: 92.5%;
    margin: auto;
    margin-bottom: 88px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cover{
        max-width: 768px;
       margin: 0;
    }
}

@media screen and (max-width: 706px) {
    .cover{
        margin-top: 40px;
    }
}

@media screen and (max-width: 320px) {
.cover{
    margin-top: 64px;
 }
}