.place__nft{
    background-color: #0278FE;
    padding: 13px 20px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    max-width: 355px;
    max-height: 48px;
}

@media screen and (max-width: 706px){
    .place__nft{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
 }
}

@media screen and (max-width: 320px) {

    .place__nft{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: auto;      
    }
}